.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  background-color: #fdf5e8;
  padding: 20px 20px;
  margin: 0 auto;
  border-radius: 5px;
  color: #000;
}

.Login-btns:hover {
  color: #d5c5ae;
}

.Login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.Login-form input {
  width: 300px;
  padding: 10px;
  color: #fdf5e8;
}

.Login-form button {
  background-color: #54101d;
  color: #d5c5ae;
  width: 150px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

.Login-error-txt {
  text-align: center;
}

@media (max-width: 767px) {
  .Login {
    max-width: 400px;
    text-align: center;
  }

  .Login-form input {
    width: 200px;
    padding: 10px;
    color: #fdf5e8;
  }
}

@media (max-width: 450px) {
  .Login {
    max-width: 280px;
    text-align: center;
  }
}

@media (max-width: 350px) {
  .Login {
    max-width: 240px;
    text-align: center;
  }
}
