.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  background-color: #fdf5e8;
  padding: 20px 20px;
  margin: 0 auto;
  border-radius: 5px;
  color: #000;
}

.Home-btns-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.Home-btns {
  background-color: #54101d;
  color: #d5c5ae;
  width: 150px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.Home-btns:hover {
  color: #d5c5ae;
}

@media (max-width: 767px) {
  .Home {
    max-width: 400px;
  }
}

@media (max-width: 450px) {
  .Home {
    max-width: 280px;
    text-align: center;
  }

  .Home-btns-div {
    flex-direction: column;
  }
}

@media (max-width: 350px) {
  .Home {
    max-width: 240px;
    text-align: center;
  }
}
